@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Mobile App Section */

body {
    font-family: 'Poppins';
}

/* Utilities */

.custom-h1 {
    font-size: 28px;
}

/* *************** */

.landing-application-container {
    /* height: 400px; */
    width: 100%;
    background: url('https://i.ibb.co/WzqQc3Y/app-background-pattern2.png'), linear-gradient(90deg, rgb(255, 255, 255), rgb(213 0 99));
}

.landing-application-container .landing-application-container__img img {
    width: auto;
    height: auto;
    transform: rotate(-8deg);
    margin-left: auto;
}

.landing-application-container .landing-application-container__description .title {
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 28px;
    text-align: center;
}

.landing-application-container .landing-application-container__description .subtitle {
    color: #FFF;
}

.landing-application-container .landing-application-container__description .subtitle {
    font-size: 18px;
    margin-bottom: 2px;
}

.landing-application-container .landing-application-container__description .subtitle .second {
    display: block;
    margin-left: 30px;
}

.landing-application-container .landing-application-container__description .title .title__brand {
    color: #34495e;
}

.landing-application-container__buttons {
    margin-top: 35px;
}

.row {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .landing-application-container .landing-application-container__img img {
        margin: auto;
    }
    .landing-application-container .landing-application-container__description .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .landing-application-container .landing-application-container__description .subtitle {
        text-align: center;
    }
    .landing-application-container .landing-application-container__description .subtitle .second {
        margin: 0;
    }
    .landing-application-container__buttons {
        margin: 18px 0;
    }
    .landing-application-container__buttons {
        text-align: center;
    }
    .landing-application-container__buttons a {
        margin-bottom: 8px;
    }
}

/* Apps Sections END */

/* Footer Section */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #303030;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.l-footer h1 img {
    width: 200px;
    height: 100px;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    /* column-count: 2; */
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

.l-footer h1 {
    text-align: center;
    padding-right: 20%;
}

.features li {
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 1.5;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}

@media screen and (max-width: 597px) {
    .features {
        margin: 30px 0;
    }
    .l-footer p {
        padding-right: 0;
    }
    .l-footer h1 {
        padding-right: 0;
    }
}

/* Footer Section End */

/* Cards Section */

.custom-card {
    background-color: #ebf9fc;
    border-radius: 30px;
    height: 300px;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    flex-wrap: wrap;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0); */
    /* display: flex; */
}

.custom-card:hover {
    background-color: #dff8fe;
}

.custom-card ul {
    padding: 0;
    text-align: center;
    list-style: none;
}

.custom-card ul i {
    background-color: #ffffff;
    border-radius: 60px;
    color: #525252;
    display: inline-block;
    height: 120px;
    line-height: 120px;
    margin-top: 40px;
    width: 120px;
    font-size: 40px;
    text-align: center;
}

.custom-card ul i:hover {
    color: #d12a77;
    transition: 0.3s;
}

/* .custom-card ul i:hover {
    background-color: #3b5998;
} */

.custom-card h4 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    font-weight: 500;
}

.custom-carousel .text-right {
    padding-right: 30px;
}

.btn-custom {
    background-color: #E2EFF2;
    border-color: #E2EFF2;
    color: #313132;
}

/* Cards Section End  */

@media screen and (max-width: 762px) {
    .landing-application-container .landing-application-container__img img {
        height: 250px;
    }
    .landing-application-container .landing-application-container__description .title, .landing-application-container .landing-application-container__description .subtitle {
        color: #34495e;
    }
    .landing-application-container__buttons .first-button {
        margin-bottom: 10px;
    }
    /* Restaurants Cards */
    .restaurants-custom-card {
        width: 24rem;
    }
}

.restaurants-custom-card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 20px;
}

.restaurants-custom-card:hover {
    opacity: 0.9;
}

.custom-link, .custom-link:hover, .custom-link:focus, .custom-link:active {
    text-decoration: none;
    color: inherit;
}

.custom-card-img-top {
    width: 150px;
    height: 150px;
    padding: 10px 0;
    border-radius: 50%;
}

.card .card-body .custom-card-title {
    font-size: 20px;
    font-weight: 500;
}

.card .card-body .rating {
    color: #8f8f8f;
}

.card .card-body .rating .active {
    color: #d51e72;
}

.card .card-body .custom-card-content .disponibilite {
    margin-left: auto;
}

.card .card-body .custom-card-content .disponibilite .Disponible {
    background: #d51e72;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.card .card-body .custom-card-content .disponibilite .disponible {
    background: #d51e72;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.card .card-body .custom-card-content .disponibilite .indisponible {
    background: #8f8f8f;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}